# Ignore vim files:
*~
*.swp
*.swo

#Unwated dotfiles
.bash_history
.bash_logout
.cache/
.cargo/
.config/
.lesshst
.local/
.mozilla/
.oh-my-zsh/
.profile
.python_history
.rustup/
.ssh/
.sudo_as_admin_successful
.var/
.viminfo
.zcompdump-pop-os-5.8.1
.zcompdump-pop-os-5.8.1.zwc
.zsh_history
Documents/
Pictures/
dev/
zig-linux*
