[user]
  email = ebling.nathan@gmail.com
  name = NateEbling
  signingkey = /home/nate/.ssh/sign.pub
[gpg]
  format = ssh
[commit]
  gpgsign = true
[push]
  default = current
[pull]
  rebase = false
[core]
  excludesfile = /home/nate/.gitignore
	editor = vim
[init]
	defaultBranch = main
