@define-color background #FFFFFF;
@define-color bordercolor #000000;
@define-color black #000000;
@define-color accent #2a77db;
@define-color powercolor #ff5e5e;

* {
    font-family: "Ubuntu Nerd Font";
    /*font-family: "JetBrainsMono Nerd Font";*/
    font-weight: bold; 
    font-size: 14px;
}

window#waybar {
    background-color: rgba(255, 255, 255,1);
    border-bottom: 3px solid #000000;
    /* color: #FFFFFF; */
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
    margin: 3px 7px 3px 3px;
    border: 0px;
    font-size: 14px;
    color: @black;
}

#workspaces button {
    color: #000000;
    padding: 0 1px;
    border-radius: 15px;
    transition: 0.2s ease;
}

#workspaces button.active {
    color: @accent;
}

#workspaces button:hover {
    color: @black;
}

tooltip {
    border-radius: 10px;
    background-color: @background;
    opacity:0.8;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: @black;
}

#window {
    margin: 0px 15px 0px 0px;
    border-radius: 12px;
    color:@black;
    font-size:14px;
    font-weight:normal;
}

window#waybar.empty #window {
    background-color:transparent;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-appmenuicon {
    font-size: 25px;
    color: @black;
    margin: 0px 15px 0px 10px;
}

#custom-exit {
    margin: 0px 20px 0px 0px;
    padding-left: 15px;
    font-size:16px;
    color: @powercolor;
}

#disk,#memory,#cpu,#language {
    margin:0px;
    padding:0px;
    font-size:14px;
    color:@black;
}

#clock {
    font-size: 15px;
    color: #FFFFFF;
    margin: 5px 0px 7px 0px;
    padding: 1px 1px;
    background: @accent;
    border-radius: 10px;
    border: 3px solid #000000;
}

#pulseaudio {
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 18px;
    margin: 5px 0px 7px 0px;
    padding-left: 16px;
    padding-right: 16px;
    background: @accent;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    border-left: 3px solid #000000;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
}

#pulseaudio.muted {
    color: #ad7f7f;
}

#network {
    font-size: 16px;
    color: #FFFFFF;
    margin: 5px 0px 7px 0px;
    border-radius: 18px;
    padding-right: 20px;
    background: @accent;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    border-right: 3px solid #000000;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
}

#tray {
    margin:0px 10px 0px 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
